includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - src

    level: 5

    ignoreErrors:
        - '#PHPDoc tag @var#'

    checkMissingIterableValueType: false
